:root {
    --header_footer: #7D98A1;
    --border: #1C2321;
    --body: #FDF0D5;
    --profil_background: #7D98A1; 
}
@media (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}
header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    background-color: var(--header_footer);
    border: 1px solid var(--border); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: inset 0 0 10px black;
}
h1{
    padding-left: 15px;
}
html{
    margin: auto;
    background-color: rgb(68, 66, 66);
    font-size: larger;
}
body{
    background-color: var(--body);
    width: 1200px;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid var(--border);
    box-shadow: inset 1px 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.buttons{
    background-color: var(--header_footer);
    color: white;
    width: 150px;
    height: 30px;
    margin: 15px;
    border: none;
    margin-left: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px black;
}
.buttons:hover{
    background-color: black;
}
#ajouter {
    background-color: var(--header_footer);
    color: white;
    width: 150px;
    margin: 0px;
    border: none;
}
#prenom_user, 
#nom_user, 
#email_user, 
#phone_number, 
#birthdate,
#password1,
#password2,
#ajouter_role{
    background-color: var(--header_footer);
    color: white;
    width: 150px;
    margin: 0px;
    border: none;
}
#tableau_roles, th, td, tr{
    border: 1px solid black;
}
fieldset{
    width: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    align-content: center;
    border: none;
}
#profils{
    display: grid;
    grid-template: "a1 a2 a3"
                    "b1 b2 a3"
                    "c1 c2 c3";
    border: 2px solid black;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--profil_background);
    color: black;
    font-weight: bolder;
}
#nom{
    grid-area: a1;
    padding-left: 15px;
}
#prenom{
    grid-area: b1;
    padding-left: 15px;
}
#email{
    grid-area: c1;
    padding-left: 15px;
}
#image{
    grid-area: a3;
    margin-top: 15px;
    margin-right: 15px;
    height: 75px;
    text-align: center;
    align-content: center;
    border: 1px dotted black;
}
#imgCRM{
    width: 250px;
    height: auto;
    padding-right: 15px;
}

li{
    padding-left: 15px;
}
td{
    align-content: center;
    padding-left: 5px;
    padding-right: 10px;
}
#menu{
    padding-left: 20px;
    font-weight: bolder;
}
label{
    padding-right: 10px;

    width: 200px;
}
#btn_ajouter_role{
    padding-left: 10px;
    margin-top: 20px;
}
#btn_ajouter_utilisateur{
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 210px;
}
#envoyer{
    margin-left: 195px;
}
textarea{
    background-color: var(--profil_background);
    color: white;
    width: 150px;
}
::placeholder{
    color: white;
}
select{
    background-color: var(--profil_background);
    color: white;
    width: 150px;
}
div{
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 15px;
}
#zone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 210px;
}
#form-profil{
    margin-bottom: 15px;
}
footer{
    background-color: var(--header_footer);
    text-align: center;
    margin: auto;
    width: 1200px;
    font-weight: bold;
    border: 1px solid var(--border);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset 0 0 10px black;
    padding-top: 15px;
    padding-bottom: 15px;
}